main > header {
  color: whitesmoke;
  font-size: 3rem;
  height: 10vh;
  line-height: .5;
  overflow: hidden;
  position: absolute;
  top: 0;
}

header + section header {
  background-color: #233C3C;
  color: darkslategray;
  font-size: 10rem;
  height: 10vh;
  line-height: 0.5;
  text-align: right;
  width: 100vw;
}

section header {
  /*visibility: hidden;*/
}

header h2 {
  display: inline;
}

header b {
  margin: 0 .5rem;
}

textarea {
  background-color: whitesmoke;
  border: 0;
  font-size: large;
  height: 90vh;
  outline: none;
  width: 99.75vw;
}
